@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

$primary-color: #2196F3;
$secondary-color: #1E88E5;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Navigation */
.nav-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.nav-items {
  position: fixed;
  margin: 0;
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-link {
  padding: 24px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

.nav-link:hover, .is-active {
  background-color: $secondary-color;
}

/* Images */
.images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 112px;
  padding-bottom: 48px;
  padding-right: 62px;
  padding-left: 38px;
  z-index: 2;
}

.image-container {
  position: relative;
  transition: all 0.3s ease-out 0s;

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
  }
}

.image {
  width: 225px;
  height: 225px;
  object-fit: cover;
  margin: 24px;
  cursor: pointer;
}

.image:hover + .like-btn:after {
  color: #F24E1E;
}

/* Likes */
.like-btn {
  &::after {
    position: absolute;
    color: transparent;
    font-size: 48px;
    top: 190px;
    left: 190px;
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    cursor: pointer;
    transition: all 0.5s ease-out 0s;
  }

  &:hover:after {
    color: #F24E1E;
    font-family: "Font Awesome 5 Free";
    font-weight: 800; 
    content: "\f004";
  }
}

.liked {
  &:after {
    position: absolute;
    color: transparent;
    font-size: 48px;
    top: 190px;
    left: 190px;
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    cursor: pointer;
  }

  &:hover:after {
    color: #F24E1E;
  }
}

/* Loader */
.loader {
  display: block;
  text-align: center;
  padding: 25px;
}

.hide {
  display: none;
}
